{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Mozio Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'maps/css/style.css' %}">
    <script src="http://maps.google.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script>
        var post_url = '{% url 'register' %}';
        var search_url = '{% url 'search' %}';
    </script>


    <script src="{% static 'maps/js/csrftoken.js' %}"></script>
    <script src="{% static 'maps/js/app_search.js' %}"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map-canvas"></div>
</body>
</html>

